footer {
    position: fixed;
    bottom: 0;
    height: 7vh;
    background-color: #dbdbdb;
    width : 100%;
    z-index: 1;
 }

 .header{
    font-size: 3em;
    background-color: #d94141;
 }

.step {
    text-decoration: underline;
    text-decoration-color: #d94141;
    font-size: 1.5em;
}

.successMessage {
    font-size: 1.5em;
}

.successMessageHead {
    font-size: 2em;
}

.successMessageSub {
    font-size: 1em;
}

.btn {
    text-transform: none;
    background-color: #d94141;
}

.subtext{
    font-size: 1em;
    font-style: italic;
}

.errorIcon{
    color: red;
}


.fileSelectBtn{
    border-radius: 95%;
    
}